@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .text-gradient {
        @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent !important
    }

    .text-10xl {
        font-size: 10rem;
        line-height: 1;
    }

    .text-11xl {
        font-size: 12rem;
        line-height: 1;
    }

}


